$red: #ff4136;
$green: #36ff97;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex: 1 1 auto;
}

.child {
  margin: .5em;
  padding: .5em;
  display: table-cell;
  border: 1px solid rgba(0, 0, 0, .5);
  transition: all .5s ease-in;
  cursor: pointer;
  border-radius: 15px;

  &:hover {
    background-color: #272822;
  }
  &:active {
    transition: none;
    background-color: $red;
  }
  &.correct:active {
    transition: none;
    background-color: $green;
  }

  &.highlighted {
    animation: highlight 1s infinite;
  }
}

@keyframes highlight {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: $green;
  }
  100% {
    background-color: inherit;
  }
}
